<% if logged_in? %>
  <p>ログイン完了ユーザー: <%= current_user.name %></p>
  <div class="container">
    <%= form_with(model: @boxpost)  do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
    <div class="row">
        <div class="col-2">
          <%= f.text_field :content, class: 'form-control' , required: true%>
        </div>
        <div class="col-6 align-self-end">
          <%= f.submit '投稿', class: 'btn btn-primary w-25' %>
        </div>
    <% end %>
    </div>
  </div>
  <%= render 'boxposts/boxposts', boxposts: @boxposts %>
  <div class="container">
    <div class="row">
      <div class="col-3 col-xs-3 col-sm-2">
        <p>最小値：<%=@lowest%> </p>
      </div>
      <div class="col-5 col-xs-5 col-sm-3">
        <p>第１四分位数：<%=@q1%> </p>
      </div>
      <div class="col-3 col-xs-3 col-sm-2">
        <p>中央値：<%=@median%> </p>
      </div>
      <div class="col-5 col-xs-5 col-sm-3">
        <p>第３四分位数：<%=@q3%> </p>
      </div>
      <div class="col-3 col-xs-3 col-sm-2">
        <p>最大値：<%=@highest%> </p>
      </div>
    </div>
  </div>
  <h1>気温の変化</h1>
  <% unless @boxpost.save %>
    <%= high_chart("sample", @graph) %>
  <% end %>
<% else %>
<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col-lg-6 col-xs-4" id="topimage">
      <%= image_tag '箱ひげ図.png', class: "image" %>
    </div>    
    <div class="col-lg-6 clo-xs-4">
      <div class="text">
        <h2>箱ひげ図作成アプリ</h2>
        <p class="title">数値を入力するだけで、箱ひげ図を作成してくれるアプリです。<br>
            箱ひげ図が苦手な人こそ、使ってみてください！
        </p>
      </div>
      <div class="text-center text-lg-start">
        <%= link_to "はじめる", signup_path, class: 'btn btn-primary', id: "btnp"%>
        <%= link_to "ゲストログイン", guest_login_path, method: :post, class: 'btn btn-danger' %>
    　</div>
  　</div>
  </div>
</div>
<% end %>
